// 真機：設定 library search path
//LIBRARY_SEARCH_PATHS[sdk=iphoneos*] = $(PROJECT_DIR)/llm_models/dist/lib

// 模擬器：唔設定，變相係空
//LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = $(PROJECT_DIR)/llm_models/dist/lib

//OTHER_LDFLAGS[sdk=iphoneos*] = -Wl,-all_load -lmlc_llm -ltvm_runtime -ltokenizers_cpp -lsentencepiece -ltokenizers_c -lmodel_iphone
//OTHER_LDFLAGS[sdk=iphonesimulator*] = -Wl,-all_load -lmlc_llm -ltvm_runtime -ltokenizers_cpp -lsentencepiece -ltokenizers_c -lmodel_iphone
// Dynamic Libs
//OTHER_LDFLAGS[sdk=iphoneos*] = -lmlc_llm -lmlc_llm_module -lmodel_iphone -ltvm_runtime
//OTHER_LDFLAGS[sdk=iphonesimulator*] = -lmlc_llm -lmlc_llm_module -lmodel_iphone -ltvm_runtime
//
//
//LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
//LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
